.blogauthor::after {
    content: "Posted by Valoriom";
  }

.blog-author-skin {
  background-image: url('https://minotar.net/helm/a87414f4a92f4f24ad3cb8ae3269951c/32.png');
}

.blogtitle::after {
    content: "Update";
}

.blogcontent::after {
    font-weight: bold;
    content: "New Launcher. Stay Tuned. 👀❄️";
}

.versiontext::after {
    content: "Powered by Flugs Games • 2.2.1 [LauncherAPI-1.1]"
}


/* Information Tab */

.aboutus::after {
    content: "Koi Client is a Free Modpack and Client-Side AntiCheat built for Minecraft 1.7.10!";
}
